# Ignore these files anywhere in the tree
*.[aox]
*.so
*.dylib
*.mod
*.pyc
*.swp
*~
*.DS_Store
*.patch
*.diff
*.tar.gz
*.zip
*.tgz
*.bz2
*.log*
nohup*

# Ignore the contents of these directories
pkg*/
log*/
test*/
build*/
