name: Build Ubuntu
on: [push, pull_request]

jobs:
  build:
    env:
      FC: gfortran-9
      CC: gcc-9
      CXX: g++-9
      VERBOSE: 1
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        mpi: ['mpich', 'openmpi']

    steps:

    - name: Install dependencies (OpenMPI)
      if: matrix.mpi == 'openmpi'
      run: |
        sudo apt-get update
        sudo apt-get install openmpi-bin libopenmpi-dev

    - name: Install dependencies (MPICH)
      if: matrix.mpi == 'mpich'
      run: |
        sudo apt-get update
        sudo apt-get install libmpich-dev

    - name: Get Sources
      uses: actions/checkout@v2
      with:
        path: ${{ matrix.mpi }}
        submodules: true

    - name: Build
      run: |
        cd ${{ matrix.mpi }}
        prefix=$GITHUB_WORKSPACE/install-${{ matrix.mpi }}
        export PATH="$prefix/bin:$PATH"
        export LD_LIBRARY_PATH="$prefix/lib:$LD_LIBRARY_PATH"
        if [[ ${{ matrix.mpi }} == "mpich" ]]; then
           mpi_ver=$( mpiexec --version | grep Version | awk '{ print $2 }' )
        elif [[ ${{ matrix.mpi }} == "openmpi" ]]; then
           mpi_ver=$( mpiexec --version | grep OpenRTE | awk '{ print $3 }' )
        fi
        export HPC_MPI="${{ matrix.mpi }}/${mpi_ver}"
        ./build_stack.sh -p $prefix -c config/config_custom.sh -y config/stack_custom.yaml
